---
export interface TitlePageProps {
  parentId: string;
  pageId: string;
  titleJa: string;
  titleEn: string;
}

const { parentId, pageId, titleJa, titleEn } = Astro.props;
---

<h1 class={`cmpTitlePage -${parentId} -${pageId}`}>
  <span class="container cmpTitlePage__inner">
    <span class="cmpTitlePage__txtMain">{titleJa}</span>
    <span class="cmpTitlePage__txtSub">{titleEn}</span>
  </span>
</h1><!-- /.cmpTitlePage -->

<style lang="scss">
  @use "sass:math";

  $_imgPath: "/assets/img/";

  .cmpTitlePage {
    display: flex;
    min-height: 320px;
    margin: 50px;
    background-image: url("https://placehold.jp/1000x1000.png");
    background-position: center;
    background-size: cover;
    border-radius: 20px;

    @include tabletP {
      min-height: 200px;
      margin: 25px;
    }

    $_: &;
    $_classList: (
      sample: (
        index,
      ),
    );

    @each $_id, $_class in $_classList {
      @each $_class-child in $_class {
        @at-root .-#{$_id}.-#{$_class-child} {
          background-image: url(#{$_imgPath}#{$_id}/#{$_class-child}/bg_titlePage.png);

          @include retina {
            background-image: url(#{$_imgPath}#{$_id}/#{$_class-child}/bg_titlePage@2x.png);
          }

          @include tabletP {
            background-image: url(#{$_imgPath}#{$_id}/#{$_class-child}/bg_titlePage_sp.png);

            @include retina {
              background-image: url(#{$_imgPath}#{$_id}/#{$_class-child}/bg_titlePage_sp@2x.png);
            }
          }
        }
      }
    }

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      width: 100%;
    }

    &__txtMain {
      display: inline-block;
      align-self: flex-start;
      padding: 5px 13px;
      line-height: math.div(62, 42);
      color: #fff;
      letter-spacing: 0.05em;
      background: #0041c0;

      @include fz(42);

      @include tabletP {
        @include fz(25);

        padding: 4px 13px;
      }
    }

    &__txtSub {
      display: inline-block;
      align-self: flex-start;
      padding: 5px 13px;
      font-family: $fontAlpha;
      color: #fff;
      letter-spacing: 0.1em;
      background: #0041c0;

      @include fz(16);

      @include tabletP {
        @include fz(12);

        padding: 4px 13px;
      }
    }
  }
</style>
